body{
  background-color: pink;
}

.tudo{
  background-color: white;
  background-position: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  height: 540px;
  width: 70%;
  border: 3px solid black;
  text-align: center;
}

.titulo{
  text-align:center;
  padding-top: 20px;
}

form{
  justify-content: space-between;
}

.opcoes{
  color: black;
  margin-bottom: 20px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 50%;
}

input{
  width: 100%;
}

#nome{
  width: 70%;
}

#endereco{
  width: 90%;
}

#telefone{
  width: 35%;
}

#email{
  width: 50%;
}

#vagas{
  width: 10%;
}

#senha{
  width: 60%;
}